<table class="table dataTable" ngClass="{{config.cssClasses || ''}}" role="grid" style="width: 100%;">

  <thead>
    <tr role="row">
      <th *ngFor="let column of config.columns" class="clickable" ngClass="{{column.cssClasses || ''}}" [ngTableSorting]="config" [column]="column" (sortChanged)="onChangeTable($event)">
        {{column.title}}
        <i *ngIf="config && column.sort" class="glyphicon" [ngClass]="{'glyphicon-chevron-down': column.sort === 'desc', 'glyphicon-chevron-up': column.sort === 'asc'}"></i>
      </th>
    </tr>
  </thead>

  <tbody>

    <tr *ngIf="config.showFilterRow">
      <td *ngFor="let column of config.columns">
        <span [ngSwitch]="column.filterType">

        <span *ngSwitchCase="'select'">
             <select class="form-control input-sm" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)">
               <option></option>
               <option *ngFor="let c of column.filterData" [value]="c.id" >{{c.name}}</option>
             </select>
        </span>

        <span *ngSwitchDefault>
            <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" class="form-control input-sm" (tableChanged)="onChangeTable(config)" />
        </span>
        </span>

      </td>
    </tr>

    <tr *ngFor="let row of data" class="clickable">
      <td *ngFor="let column of config.columns" (click)="cellClick(row, column.name)">
        <span [ngSwitch]="column.format">

          <span *ngSwitchCase="'date'">
             {{ getData(row, column.name) | date: 'dd.MM.yyyy'}}
          </span>

        <span *ngSwitchCase="'datetime'">
            {{ getData(row, column.name) | date: 'dd.MM.yyyy hh:MM'}}
          </span>

        <span *ngSwitchDefault>
            {{ getData(row, column.name) }}
          </span>

        </span>
      </td>
    </tr>

  </tbody>
</table>

<div class="row" *ngIf="config.paging">
  <div class="btn-group" role="group" aria-label="...">
    <button *ngFor="let pageSize of config.pagerSizes" (click)="changePageSize(pageSize)" [ngClass]="{ 'btn-primary' : pageSize == currentPageSize }" class="btn btn-default">{{ pageSize }}</button>
  </div>


  <div class="btn-group" role="group" aria-label="...">
    <button [disabled]="!pagerHasPrevious"  (click)="changePage(currentPage - 1)" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> </button>
    <button *ngFor="let page of pages" (click)="changePage(page)" [ngClass]="{ 'btn-primary' : page == currentPage }" class="btn btn-default">{{ page }}</button>
    <button [disabled]="!pagerHasNext" (click)="changePage(currentPage + 1)" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </button>
  </div>

</div>