<table class="table dataTable" ngClass="{{config.cssClasses || ''}}" role="grid" style="width: 100%;">

  <thead>
    <tr role="row">
      <th *ngFor="let column of config.columns" class="clickable" ngClass="{{column.cssClasses || ''}}" [ngTableSorting]="config" [column]="column" (sortChanged)="onChangeTable($event)">
        {{column.title}}
        <i *ngIf="config && column.sort" class="glyphicon" [ngClass]="{'glyphicon-chevron-down': column.sort === 'desc', 'glyphicon-chevron-up': column.sort === 'asc'}"></i>
      </th>
    </tr>
  </thead>

  <tbody>

    <tr *ngIf="config.showFilterRow">
      <td *ngFor="let column of config.columns">
        <span [ngSwitch]="column.filterType">

        <span *ngSwitchCase="'select'">
             <select class="form-control input-sm" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)">
               <option></option>
               <option *ngFor="let c of column.filterData" [value]="c.id" >{{c.name}}</option>
             </select>
        </span>

        <span *ngSwitchDefault>
            <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" class="form-control input-sm" (tableChanged)="onChangeTable(config)" />
        </span>
        </span>

      </td>
    </tr>

    <tr *ngFor="let row of data" class="clickable">
      <td *ngFor="let column of config.columns" (click)="cellClick(row, column.name)">
        <span [ngSwitch]="column.format">

          <span *ngSwitchCase="'date'">
             {{ getData(row, column.name) | date: 'dd.MM.yyyy'}}
          </span>

        <span *ngSwitchCase="'datetime'">
            {{ getData(row, column.name) | date: 'dd.MM.yyyy hh:MM'}}
          </span>

        <span *ngSwitchDefault>
            {{ getData(row, column.name) }}
          </span>

        </span>
      </td>
    </tr>

  </tbody>
</table>

<div class="row" *ngIf="config.paging">
  <div class="btn-group" role="group" aria-label="...">
    <button *ngFor="let pageSize of config.pagerSizes" (click)="changePageSize(pageSize)" [ngClass]="{ 'btn-primary' : pageSize == currentPageSize }" class="btn btn-default">{{ pageSize }}</button>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      </li>
      <li *ngFor="let page of pages" [ngClass]="{ 'active' : page == currentPage }"><a class="clickable" (click)="changePage(page)">{{page}}</a></li>
      <li>
        <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      </li>
    </ul>
  </nav>

</div>